h1 {
    text-align: center;
    font-size: 4rem;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 20px;
}

li {
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 30px;
    min-width: 64px;
    font-size: 1.5rem;
}

.resultgood {
    background-color: rgba(0, 194, 0, 0.849);
}

.resultbad {
    background-color: rgba(255, 0, 0, 0.849);
}

input {
    border: rgb(138, 138, 138), 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 10px
}

input:focus{
    border: rgb(138, 138, 138), 1px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
    padding: 5px
}

button {
    background-color: rgb(194, 194, 194);
    border: grey;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px
}

body{
    justify-items: center;
    background-color: beige;
}

li:hover {
    background-color: aqua;
}