.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #dbdbdb;
    position:sticky;
    top: 0;
    width: 100%;
}

nav{
    padding: 1rem;
    text-decoration: none;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
}

html,body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-container {
    background-color: #4e4e4e;
    color: white;
    justify-items: center;
}

.article-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-column{
    padding: 3rem;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

h1{
    padding: 2rem;
    margin: 0;
    font-size: 3rem;
    column-span: all;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    border-radius: 3rem;
}

@media screen and (max-width: 769px){
    .article-container{
        display: block;
    }
    .header-container{
    flex-shrink: 1;
    flex-wrap: nowrap;
    }
}
